<div class="row">
  <aside class="col-md-4">
    <%= render partial: 'user_info', locals: { user: @user } %>
  </aside>
  <div class="col-md-8">
      <h3><%= @title %> (<%= @users.count %>)</h3>
      <ol class="follow">
        <%= render @users %>
      </ol>
  </div>
</div>
